@{
    ViewData["Title"] = "Home Page";
    
}
@model IEnumerable<BC.Employees>

<div class="text-center">
    @foreach(var employee in Model)
            {
                <p>employee.Name</p>
            }
</div>
