@{
    ViewData["Title"] = "Home Page";

}
@using System.Data
@model DataTable

<div class="text-center">
    <a asp-action="Index" asp-route-state="open"><input class="btn btn-primary" type="button" value="Mostrar Abiertos" /></a>
    <a asp-action="Index" asp-route-state="released"><input class="btn btn-primary" type="button" value="Mostrar Cerrados" /></a>
    <a asp-action="Index" asp-route-state=""><input type="button" class="btn btn-primary" value="Mostrar Todos" /></a>
    <table class="table table-light table-striped">
        <thead>
            <tr>
                @foreach (DataColumn column in Model.Columns)
                {
                    <th scope="col">@column.ColumnName.ToUpper().Replace("_", " ")</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow dataRow in Model.Rows)
            {
                <tr>
                    @foreach (DataColumn dataColumn in Model.Columns)
                    {
                        if (dataColumn.ColumnName.Equals("no"))
                        {
                            <td><a asp-controller="Home" asp-action="Header" asp-route-no="@dataRow[dataColumn.ColumnName]">@dataRow[dataColumn.ColumnName]</a></td>
                        }
                        else
                        {
                            <td>@dataRow[dataColumn.ColumnName]</td>
                        }


                    }
                </tr>
            }
        </tbody>
    </table>
</div>
