@{
    ViewData["Title"] = "Home Page";
    
}
@model IEnumerable<Object>

<div class="text-center">
    @foreach (var input in Model)
            {
                <p>@input.ToString()</p>
            }
</div>
