@{
    ViewData["Title"] = "Order Lines List";

}
@using System.Data
@model DataTable

<div class="text-center">
    <form asp-action="SalesLines" asp-route-numFilter="0">
        <input name="numFilter" type="number" maxlength="6" placeholder="105001" />
        <input type="submit" class="btn btn-primary" value="Filtrar por número de documento"/>
    </form>
    <table class="table table-light table-striped">
        <thead>
            <tr>
                @foreach (DataColumn column in Model.Columns)
                {
                    <th scope="col">@column.ColumnName.ToUpper().Replace("_", " ")</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow dataRow in Model.Rows)
            {
                <tr>
                    @foreach (DataColumn dataColumn in Model.Columns)
                    {
                        <td>@dataRow[dataColumn.ColumnName]</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
