@{
    ViewData["Title"] = "Order Lines List";

}
@using System.Data
@model DataTable

<div class="text-center">
    <form asp-action="SalesLines" asp-route-numFilter="0" asp-route-onlyNegatives="">
        <label for="numFilter">Document No.</label>
        <input id="numFilter" name="numFilter" type="text" maxlength="10" placeholder="105001" />
        <label for="onlyNegatives">Only negative stock.</label>
        <input onchange="onCheckboxChange()" type="checkbox" id="onlyNegatives" name="onlyNegatives" />
        <input type="submit" class="btn btn-primary" value="Filter" />
    </form>
    <table class="table table-light table-striped">
        <thead>
            <tr>
                @foreach (DataColumn column in Model.Columns)
                {
                    <th scope="col">@column.ColumnName.ToUpper().Replace("_", " ")</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (DataRow dataRow in Model.Rows)
            {
                <tr>
                    @foreach (DataColumn dataColumn in Model.Columns)
                    {
                        <td>@dataRow[dataColumn.ColumnName]</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
<script>
    function onCheckboxChange() {
        var numInput = document.getElementById('numFilter');
        var checkBox = document.getElementById('onlyNegatives');
        numInput.disabled = checkBox.checked;
    }
</script>
